.card {
    background-color: #ffffff80;
    padding: 1.875rem;
    border-radius: 4%;
    box-shadow: .1875rem .1875rem .0625rem 0rem #00000070;
    margin-top: 9.375rem;
    height: auto;
    width: 26.3125rem;
}

.card h1 {
    text-align: center;
    margin-bottom:1.25rem;
    color: #0a0808;
}

.label-float input {
    width: 100%;
    padding: .3125rem .3125rem;
    display: inline-block;
    border: 0;
    border-bottom: .125rem solid #0a0808;
    background-color: transparent;
    outline: none;
    min-width: 11.25rem;
    font-size: 1rem;
    transition: all .3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: .8125rem;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-float input:focus {
    border-bottom: .125rem solid #a83838;
}

.label-float label {
    color: #0a0808;
    pointer-events: none;
    position:absolute;
    top: 0;
    left: 0;
    margin-top: .8125rem;
    transition: all .3s ease-out;
}
.label-float input:focus + label,
.label-float input:valid + label {
    font-size: .8125rem;
    margin-top: 0;
    color: #f80000;
}

.card button {
    background-color:transparent;
    border-color: #0a0808;
    padding: .4375rem;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 1.25rem;
    border-radius: .25rem;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
}

.card button:hover {
    background-color: #0a0808;
    color: #f80000;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.fa-eye{
    position: absolute;
    top: .9375rem;
    right: .625rem;
    cursor: pointer;
    color: #0a0808;
}

#msgSuccess{
    text-align: center;
    color: #02ff02;
    background-color: #bbffbe;
    padding: .625rem;
    border-radius: .25rem;
    display: none;
}
  
#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: .625rem;
    border-radius: .25rem;
    display: none;
}

@media (max-width:26rem) {
    .card {
      width: 19.3125rem;
    }
}