.buttons {
    width: 50rem;
    margin: 0 auto;
    margin-right: 28%;
    
}

h1 {
    font-family:'Lato', Helvetica, Arial;
    font-size: 3.125rem;
}

button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    padding: .75rem 1.5625rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    margin: 1.25rem;
    transition: all .4s;
    cursor: pointer;
    font-family:'Lato', Helvetica, Arial;
}
  
.fill {
    border: .125rem solid #ff0000;
    color: #ff0000;
    font-weight: bold;
    font-size: 1.25rem;
}
  
.fill:hover {
    color: rgb(0, 0, 0);
    box-shadow: inset 0 0 0 2em #ff0000;
}
  
.pulse {
    border: .125rem solid #000000;
    color: #ff0000;
    font-weight: bold;
    font-size: 1.25rem;
}
  
.pulse:hover {
    border: .125rem solid #ff0000;
    animation: pulse 1s;
    color: #000000;
}
  
@keyframes pulse {
    from {box-shadow: 0 0 0 0 #ff0000;}
    to {box-shadow: 0 0 0 2em #804848;}
}
